a  {
    color: black;
    text-decoration: none;
}

a::before {
    content: "<<";
    color: red;
    font-size: 20px;
}

a::after {
    content: ">>";
    color: red;
    font-size: 20px;
}

p::first-letter {
    font-size: 40px;
}

p::first-line {
    background: red ;
}

p::selection {
    background: black;
    color: wheat;
}

input::placeholder {
    color: yellow;
}