.container {
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 10px;
}

.static {
    background-color: green;
    height: 50px;
    color: white;
}

.relative {
    position: relative;
    background-color: purple;
    height: 70px;
    color: white;
}

.changePosition {
    right: 25px;
    top: 15px;
}

.absolute {
    position: absolute;
    background-color: orange;
    width: 100px;
    height: 50px;
}

.fixed {
    background-color: blue;
    border: 3px solid red;
    width: 200px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 25px;
}

html {
    padding-bottom: 1000px;
    padding-top: 80px;
}

.sticky {
    background-color: red;
    border: 3px solid blue;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
    position: sticky;
    top: 10px;
}